<?php

/**
 * Local configuration.
 *
 * Copy this file to `local.php` and change its settings as required.
 * `local.php` is ignored by git and safe to use for local and sensitive data like usernames and passwords.
 */

return [
    'project' => [
        'name' => 'pulse', // Project name. Mind the caps. Same as in the index.php in the htdocs of your GemsTracker installation
        'environment' => 'development', // The environment of the linked Gemstracker. E.g. 'development'
        'vendor' => 'mddejong/pulse', // vendor directoy of the linked project to set to APPLICATION_DIR
        'locale' => [ //
            'default' => 'en', // Default locales
        ],
        'locales' => [ // Available locales
            'en',
            'nl',
        ],
    ],
];
